* text=auto eol=lf

*.jar binary
*.pk8 binary
*.img binary
assets/x9u/donors/my_preload_a.img filter=lfs diff=lfs merge=lfs -text
assets/op15r/donors/*.img filter=lfs diff=lfs merge=lfs -text
assets/op15r/donors/abl-16.0.1.img -filter -diff -merge binary
bin/Linux/x86_64/* binary
bin/package/DISABLE_AVB/HMATools/aosp/plugged/bin/* binary
bin/package/DISABLE_AVB/HMATools/aosp/plugged/lib/* binary
